<div th:replace="~{../fragments/header}"></div>
<section th:key="'home'" class="min-vh-100">
    <div class="container my-5 text-center rounded">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="my-3">
                <h3 class="display-2">Welcome to Books Shop! <i class="fas fa-book"></i></h3>
                <h3>Get Your Books Ready! Discover the Latest and Greatest Books at Our Online Shop!</h3>
            </div>
            <h6 style="font-family: monospace; font-style: italic; font-size: 20px;"
                class="my-3 border-0 rounded-6 shadow-sm p-3 home-container">
                <div style="font-family: monospace; font-style: italic; color: black; font-size: 20px;">
                    We have a wide selection of Books for you to choose from!<br/>
                    <br/>
                    Your One-Stop-Shop for All Your Books Needs!
                </div>
            </h6>
        </div>
    </div>
    <div class="container my-5">
        <div class="text-center">
            <a th:href="@{/store-page}" class="btn btn-light w-50">Shop Now <i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="container my-5">
        <h5 class="text-center bg-gradient bg-dark text-white p-3 shadow-lg rounded-3"
            style="font-style: italic; color: black; font-size: 30px;">
            Our Services
        </h5>
        <div class="row">
            <div class="col-md-6 my-3">
                <div class="card hovered card-sections shadow-lg rounded-circle h-100 border-0 mb-3 border-0 shadow-sm p-3 home-container">
                    <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png"
                         class="rounded-circle img-fluid border-6 card-img-top border-6 shadow-sm object-fit-cover"
                         alt="Admin Image" style="height: 300px; width: 100%;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title mb-0 text-center badge rounded-5 rounded bg-secondary">Admin</h5>
                        <p class="d-none d-md-block text-center mb-1"><small>If you have a permission to access this
                            page, you can add, edit, delete
                            books as admin.}</small></p>
                        <a class="btn justify-content-center text-primary" th:href="@{/admin/}">

                            <i class="fas fa-user-shield me-2" style="color: blue;"></i> View
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="card hovered card-sections shadow-lg rounded-circle h-100 border-0 mb-3 border-0 shadow-sm p-3 home-container">
                    <img src="https://static.vecteezy.com/system/resources/previews/000/396/787/original/bookstore-and-papers-logo-vector.jpg"
                         class="rounded-circle img-fluid border-6 card-img-top border-6 shadow-sm object-fit-cover"
                         alt="Store Image" style="height: 300px; width: 100%;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title mb-0 text-center badge rounded-5 rounded bg-secondary">Books Store</h5>
                        <p class="d-none d-md-block text-center mb-1">
                            <small>You can visit our store to buy books.
                            </small></p>
                        <a class="btn justify-content-center text-primary" th:href="@{/store-page}">

                            <i class="fas fa-store me-2" style="color: blue;"></i> View
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

