<div th:replace="~{../fragments/header}"></div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-2 mb-5 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa fa-home fa-sm"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
            <form class="form-inline" th:action="@{/search-books}">
                <div class="input-group">
                    <input class="form-control rounded-pill shadow-sm border-0" type="search" name="search"
                           placeholder="Find Books &#x1F609;"
                           aria-label="Search">
                    <div class="input-group-append mx-1 p-1">
                        <button class="btn btn-light rounded-circle" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <a type="button" class="position-relative" style="color: #f1f1f1;" th:href="@{/cart}">
            <i class="fa fa-lg fa-shopping-cart fa-sm"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${ItemsInCart}"></span>
        </a>
    </div>
</nav>
</body>
